In [1]:
import pandas as pd
import numpy as np

In [4]:
data=[1,2,3,4,5]
df=pd.DataFrame(data)
print(df)
print()

data=[['amit',20],['saurav',22],['caly',23]]
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)                 #pd ek class hai

   0
0  1
1  2
2  3
3  4
4  5

     Name  Age
0    amit   20
1  saurav   22
2    caly   23

In [11]:
import pandas as pd

data = [[1, 10], [3, 12], [9, 13]]
df = pd.DataFrame(data, columns=['Name', 'Age'],dtype=float)
print(df)

   Name   Age
0   1.0  10.0
1   3.0  12.0
2   9.0  13.0

In [10]:
data=[['amit',20],['saurav',22],['caly',23]]
df=pd.DataFrame(data,columns=['Name','Age'],index=['a','b','c'])
print(df)

     Name  Age
a    amit   20
b  saurav   22
c    caly   23

In [12]:
data={'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df=pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [14]:
data={'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df=pd.DataFrame(data,index=['rank1','rank2,'rank3','rank4'])
print(df)

SyntaxError: unterminated string literal (detected at line 2) (2986923003.py, line 2)

In [17]:
data=[{'a':1,'b':2},{'a':5,'b':6,'c':4}]
df=pd.DataFrame(data)
print(df)

   a  b    c
0  1  2  NaN
1  5  6  4.0

In [21]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4