In [1]:
import pandas as pd
import numpy as np

In [6]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df['one'])
print()
print(df)

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [10]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print("Adding  new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print()
print(df)
print("Adding new column using existing column in DataFrame")
df['four']=df['one']+df['three']
print(df)

Adding  new column by passing as Series:

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [11]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print("Adding  new column by passing as Series:")
df['three']=pd.Series([10,20],index=['a','b'])
print()
print(df)
print("Adding new column using existing column in DataFrame")
df['four']=df['one']+df['three']
print(df)

Adding  new column by passing as Series:

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3    NaN
d  NaN    4    NaN
Adding new column using existing column in DataFrame
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3    NaN   NaN
d  NaN    4    NaN   NaN

In [16]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],index=['a','b','c','d']),'three':pd.Series([10,20],index=['a','b'])}
df=pd.DataFrame(d)
print("Our dataframe is:")
print(df)
print()
print("Deleting the first column using del function")
del df['one']
print(df)
print()
print("Deleting pop functiion")
df.pop('two')
print(df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3    NaN
d  NaN    4    NaN

Deleting the first column using del function
   two  three
a    1   10.0
b    2   20.0
c    3    NaN
d    4    NaN

Deleting pop functiion
   three
a   10.0
b   20.0
c    NaN
d    NaN

In [21]:

d = {'one':pd.Series([1,2,3],index= ['a','b','c']),'two':pd.Series([1,2,3,4],index = ['a','b','c','d']),'three' : pd.Series([10,20,30],index = ['a','b','c'])}
df = pd.DataFrame(d)
print("Our dataframe is:")
print(df)
print("Deleting another column using drop function:")
df.drop('two',axis = 1,inplace = True)
print(df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting another column using drop function:
   one  three
a  1.0   10.0
b  2.0   20.0
c  3.0   30.0
d  NaN    NaN