In [2]:
import pandas as pd
import numpy as np

In [24]:
df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df2=pd.DataFrame([[5,6],[7,8]],columns=['a','b'])
df=pd.concat([df, df2],ignore_index=True)
#drop rows with label 0
#df=df.drop(0)
print(df)

   a  b
0  1  2
1  3  4
2  5  6
3  7  8

In [26]:
df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df2=pd.DataFrame([[5,6],[7,8]],columns=['a','b'])
df=pd.concat([df, df2],ignore_index=True)
#drop rows with label 0
print(df)
df=df.drop(0)
print(df)

   a  b
1  3  4
2  5  6
3  7  8

In [31]:
sr=pd.Series([19.5,16.8,234.8,35.89,342.12])
print(sr)
S1=sr.truncate(before=3)
S=sr.truncate(before=2,after=3)
print()
print(S1)
print()
print(S)

0     19.50
1     16.80
2    234.80
3     35.89
4    342.12
dtype: float64

3     35.89
4    342.12
dtype: float64

2    234.80
3     35.89
dtype: float64

In [44]:
dict= {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree':["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80,98]}
df= pd.DataFrame(dict)
for i, j in df.iterrows():
    print(i, j)

0 name      aparna
degree       MBA
score         90
Name: 0, dtype: object
1 name      pankaj
degree       BCA
score         40
Name: 1, dtype: object
2 name      sudhir
degree    M.Tech
score         80
Name: 2, dtype: object
3 name      Geeku
degree      MBA
score        98
Name: 3, dtype: object

In [55]:
dict= {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree':["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80,98]}

#for i, r in dict.items():
    #print(i, r)
for f in dict:
    for r in dict[f]:
        print(r,end=" , ")

aparna , pankaj , sudhir , Geeku , MBA , BCA , M.Tech , MBA , 90 , 40 , 80 , 98 ,

In [56]:
dict= {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree':["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80,98]}

for i, r in dict.items():
    print(i, r)

name ['aparna', 'pankaj', 'sudhir', 'Geeku']
degree ['MBA', 'BCA', 'M.Tech', 'MBA']
score [90, 40, 80, 98]