In [2]:
import pandas as pd
import numpy as np  #numpy ek packege hai

In [12]:
from numpy.random import randn
df1=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['x','y','z','w'])
print(df1)

          x         y         z         w
a -0.591215 -0.184442  0.437645 -0.597483
b  0.343520 -0.864940  1.389017 -0.092251
c -0.543738 -0.539887 -0.749759  0.299926
d  0.914584  0.288615 -1.846465 -0.997474
e  1.676195  1.282593 -2.796753 -1.678195

In [14]:
df1<0

       x      y      z      w
a   True   True  False   True
b  False   True  False   True
c   True   True   True  False
d  False  False   True   True
e  False  False   True   True

In [15]:
from numpy.random import rand
df2=pd.DataFrame(rand(5,4),['a','b','c','d','e'],['x','y','z','w'])
print(df2)

          x         y         z         w
a  0.073392  0.750509  0.927179  0.771935
b  0.167129  0.381301  0.464921  0.753669
c  0.040630  0.598343  0.909585  0.711556
d  0.834637  0.428723  0.814595  0.371072
e  0.880337  0.558281  0.721582  0.671072

In [16]:
df2<0

       x      y      z      w
a  False  False  False  False
b  False  False  False  False
c  False  False  False  False
d  False  False  False  False
e  False  False  False  False

In [18]:
df2['x']

a    0.073392
b    0.167129
c    0.040630
d    0.834637
e    0.880337
Name: x, dtype: float64

In [20]:
df2['x']>0

a    True
b    True
c    True
d    True
e    True
Name: x, dtype: bool

In [24]:
df1[df1['x']>0]

          x         y         z         w
b  0.343520 -0.864940  1.389017 -0.092251
d  0.914584  0.288615 -1.846465 -0.997474
e  1.676195  1.282593 -2.796753 -1.678195

In [32]:
df1[df1['x']>0]['y']

b   -0.864940
d    0.288615
e    1.282593
Name: y, dtype: float64

In [28]:
df1[df1['x']>0][['y','x']]

          y         x
b -0.864940  0.343520
d  0.288615  0.914584
e  1.282593  1.676195

In [45]:
df1[(df1['x']>0) & (df1['y']>1)]

          x         y         z         w
e  1.676195  1.282593 -2.796753 -1.678195

In [46]:
df1[(df1['x']>0) | (df1['y']>1)]

          x         y         z         w
b  0.343520 -0.864940  1.389017 -0.092251
d  0.914584  0.288615 -1.846465 -0.997474
e  1.676195  1.282593 -2.796753 -1.678195

In [50]:
df1[(df1['x']>0) | (df1['y']>1)] ['z']

b    1.389017
d   -1.846465
e   -2.796753
Name: z, dtype: float64

In [54]:
from numpy.random import randn
df3=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['x','y','z','w'])
print(df3)
print()
print(df.reset_index())

          x         y         z         w
a  0.515190  0.114588 -0.986831  0.582298
b -1.185326  0.772836  0.731060 -0.582521
c  0.635885  0.052054 -1.078299  1.562571
d  0.997713  0.311573 -1.421788  0.096675
e  1.189434  0.456700 -0.661698 -0.404793

  index         x         y         z         w
0     a  0.055363  0.969722  0.215150  0.305582
1     b  0.744981  0.728441  0.677809  0.027219
2     c  0.547404  0.717306  0.539519  0.256667
3     d  0.458037  0.932527  0.371254  0.665991
4     e  0.899632  0.326413  0.465710  0.787730

In [63]:
outer=['a','a','a','b','b','b','b'] 
inner=[1,2,3,1,2,3]
h_index=list(zip(outer,inner))
h_index=pd.MultiIndex.from_tuples(h_index)

df1=pd.DataFrame(randn(6,2))
print(df1)

          0         1
0  1.727750  0.169049
1  0.926683  2.303021
2 -1.995904 -1.195641
3 -0.748453 -0.214445
4 -0.432607  1.287711
5 -0.400122 -0.931053

In [60]:
df1=pd.DataFrame(randn(6,2),h_index)
print(df1)

            0         1
a 1 -0.232812 -2.453918
  2  0.027806  1.138510
  3 -0.261293 -1.958221
b 1  0.427401  1.110155
  2  1.103575 -1.528460
  3 -0.591630  0.510019

In [61]:
df1=pd.DataFrame(randn(6,2),h_index,['A','B'])
print(df1)

            A         B
a 1 -0.928891 -0.606458
  2 -0.114548 -0.820994
  3  0.959438  1.264698
b 1  0.348227 -1.134219
  2 -0.822842  0.848525
  3 -0.848266 -0.320709