In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [25]:
outer=['a','a','a','b','b','b','b'] 
inner=[1,2,3,1,2,3]
h_index=list(zip(outer,inner))
h_index=pd.MultiIndex.from_tuples(h_index)
#print(h_index)
df1=pd.DataFrame(randn(6,2))
print(df1)

          0         1
0  1.065240  0.470074
1  0.062554  0.750266
2  0.177402 -0.444823
3 -0.626544 -1.415346
4  2.385943 -1.222285
5  0.931821 -1.179092

In [26]:
df1=pd.DataFrame(randn(6,2),h_index)
print(df1)

            0         1
a 1 -0.651429  0.508531
  2 -0.235991  1.446321
  3 -0.108755  0.605438
b 1  0.067373 -0.106191
  2  0.550789  0.781876
  3 -0.169683  0.364672

In [27]:
df1=pd.DataFrame(randn(6,2),h_index,['A','B'])
print(df1)

            A         B
a 1  1.955180  1.614700
  2  0.563739 -1.642410
  3 -0.671829 -0.181601
b 1  0.343729  0.344929
  2  0.378413 -0.045983
  3 -0.050433  1.251334

In [28]:
df1.loc['a']

          A         B
1  1.955180  1.614700
2  0.563739 -1.642410
3 -0.671829 -0.181601

In [29]:
df1.iloc[1].iloc[1]

-1.642409707224035

In [30]:
df1.loc['a'].loc[1].loc['B']

1.6147004630754287

In [31]:
df1.index.names=['X','Y']
print(df1)

            A         B
X Y
a 1  1.955180  1.614700
  2  0.563739 -1.642410
  3 -0.671829 -0.181601
b 1  0.343729  0.344929
  2  0.378413 -0.045983
  3 -0.050433  1.251334

In [32]:
df1.loc['a'].loc[1]

A    1.95518
B    1.61470
Name: 1, dtype: float64

In [36]:
df2 = pd.DataFrame(np.random.randn(6, 3), columns=['col1', 'col2', 'col3'])
print(df2)

       col1      col2      col3
0  2.173728  0.869691  0.799211
1  0.574968 -0.697913  0.720851
2  0.482945 -0.242623 -0.683483
3  0.669809 -1.538147  1.531536
4  0.552121 -0.429623  0.238161
5  0.192949 -0.048000 -1.676754

In [39]:
print("After ")
df3=df2.rename(columns={'col1':'c1','col2':'c2'},index={0:'apple',1:'banana',2:'durian'})
print(df3)

After
              c1        c2      col3
apple   2.173728  0.869691  0.799211
banana  0.574968 -0.697913  0.720851
durian  0.482945 -0.242623 -0.683483
3       0.669809 -1.538147  1.531536
4       0.552121 -0.429623  0.238161
5       0.192949 -0.048000 -1.676754

reindex

In [46]:
df=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['x','y','z','w'])
print(df)
DF=df.reindex(index=['a','b','c','d','e'],columns=['x','y','B','D'])
print()
print(DF)
DF=df.reindex(index=['aA','b','c','d','e'],columns=['x','y','B','D'])
print()
print(DF)
#change the order

          x         y         z         w
a -0.320749  1.487877 -2.063291  0.847401
b -0.270847  0.198170 -1.027793 -0.555212
c -0.461783 -1.413650 -0.145200  0.681142
d  0.017342  0.031504 -0.362744 -0.386327
e  2.178117  0.632828 -1.351758  0.681764

          x         y   B   D
a -0.320749  1.487877 NaN NaN
b -0.270847  0.198170 NaN NaN
c -0.461783 -1.413650 NaN NaN
d  0.017342  0.031504 NaN NaN
e  2.178117  0.632828 NaN NaN

           x         y   B   D
aA       NaN       NaN NaN NaN
b  -0.270847  0.198170 NaN NaN
c  -0.461783 -1.413650 NaN NaN
d   0.017342  0.031504 NaN NaN
e   2.178117  0.632828 NaN NaN

In [47]:
df=pd.DataFrame({'A':[1,2,np.nan],'B':['a',np.nan,'c'],'C':[10,np.nan,np.nan]})
print(df)

     A    B     C
0  1.0    a  10.0
1  2.0  NaN   NaN
2  NaN    c   NaN

In [53]:
print(df[['A','B']].isnull())

       A      B
0  False  False
1  False   True
2   True  False