In [6]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [14]:
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df)
print()
print(df['one'].notnull())
print()
print(df.notnull())
#null pe false

        one       two     three
a  0.703595 -0.912466 -1.105682
b       NaN       NaN       NaN
c  0.219053  0.411668 -0.768632
d       NaN       NaN       NaN
e  0.315182  0.741366  1.746234
f -0.860566 -0.783574 -0.778047
g       NaN       NaN       NaN
h  1.740051 -1.515994 -0.452569

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

     one    two  three
a   True   True   True
b  False  False  False
c   True   True   True
d  False  False  False
e   True   True   True
f   True   True   True
g  False  False  False
h   True   True   True

In [27]:
df=pd.DataFrame(np.random.randn(3,2),index=['a','c','e'],columns=['one','two'])
df=df.reindex(['a','b','c','d'])
print(df)
print()
df=df.reindex(['a','b','c','d'])
print("one column ke value ko add karega")
print()
print(df['one'].sum())
print()
print("one column ke value ko count karega")

print(df['one'].count())

        one       two
a  0.497591  0.765772
b       NaN       NaN
c -0.522760  1.057372
d       NaN       NaN

one column ke value ko add karega

-0.025168907358319448

one column ke value ko count karega
2

In [32]:
#Cleaning/Filling Misiing Data
#Replace NaN with a Scalar Value

df=pd.DataFrame(np.random.randn(3,3),index=['a','c','e'],columns=['one','two','three'])
print(df)
print()
df=df.reindex(['a','b','c'])
print(df)
print("NaN replaced with '0':")
print()
print(df.fillna(0))

        one       two     three
a -0.462430 -1.837440 -1.891477
c  1.909262  0.434125  1.308784
e  0.407194 -0.238039  0.156817

        one       two     three
a -0.462430 -1.837440 -1.891477
b       NaN       NaN       NaN
c  1.909262  0.434125  1.308784
NaN replaced with '0':

        one       two     three
a -0.462430 -1.837440 -1.891477
b  0.000000  0.000000  0.000000
c  1.909262  0.434125  1.308784

In [35]:
df=pd.DataFrame({'A':[1,2,np.nan],'B':[5,np.nan,10],'C':[10,np.nan,np.nan]})
print(df)
print()
df['A'].fillna(value = df['A'].mean())

     A     B     C
0  1.0   5.0  10.0
1  2.0   NaN   NaN
2  NaN  10.0   NaN

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [39]:
df.fillna(value = df.mean())

     A     B     C
0  1.0   5.0  10.0
1  2.0   7.5  10.0
2  1.5  10.0  10.0

In [40]:
df.fillna(value = df.sum())

     A     B     C
0  1.0   5.0  10.0
1  2.0  15.0  10.0
2  3.0  10.0  10.0

In [44]:
df.fillna(value=df['A'].mean())

     A     B     C
0  1.0   5.0  10.0
1  2.0   1.5   1.5
2  1.5  10.0   1.5

In [45]:
df.fillna(value=df.sum())

     A     B     C
0  1.0   5.0  10.0
1  2.0  15.0  10.0
2  3.0  10.0  10.0