In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [20]:
#to create database 3,4 columns=[A,B,C] and rows=[a,b,c,d] and c and d rows NaN
data ={'A': [10, 20,np.nan, np.nan],'B': [40, 50,np.nan, np.nan],'C': [30, 60, np.nan, np.nan]}

In [21]:
index = ['a', 'b', 'c', 'd']
df = pd.DataFrame(data)
print(df)

      A     B     C
0  10.0  40.0  30.0
1  20.0  50.0  60.0
2   NaN   NaN   NaN
3   NaN   NaN   NaN

In [22]:
df.dropna()

      A     B     C
0  10.0  40.0  30.0
1  20.0  50.0  60.0

In [30]:

df2 = pd.DataFrame({'A': [10, 20, np.nan, np.nan],'B': [40, 50, np.nan, np.nan],'C': [30, 60, np.nan, np.nan]}, index=['a', 'b', 'c', 'd'])
result = df2.dropna(thresh=1)

print("Original DataFrame:")
print(df2)
print("\nDataFrame after dropna(thresh=1):")
print(result)

Original DataFrame:
      A     B     C
a  10.0  40.0  30.0
b  20.0  50.0  60.0
c   NaN   NaN   NaN
d   NaN   NaN   NaN

DataFrame after dropna(thresh=1):
      A     B     C
a  10.0  40.0  30.0
b  20.0  50.0  60.0

In [37]:
df3 = pd.DataFrame({'A': [10, 20, np.nan, np.nan],'B': [40, 50, np.nan, np.nan],'C': [30, 60, np.nan, np.nan]}, index=['a', 'b', 'c', 'd'])
result = df3.dropna(thresh=1)

print("Original DataFrame:")
print(df3)
print("\nDataFrame after dropna(thresh=1):")
print(result)
print(df3.replace(20,200))

Original DataFrame:
      A     B     C
a  10.0  40.0  30.0
b  20.0  50.0  60.0
c   NaN   NaN   NaN
d   NaN   NaN   NaN

DataFrame after dropna(thresh=1):
      A     B     C
a  10.0  40.0  30.0
b  20.0  50.0  60.0
       A     B     C
a   10.0  40.0  30.0
b  200.0  50.0  60.0
c    NaN   NaN   NaN
d    NaN   NaN   NaN

In [39]:
#next group by function next day we will study
#transformation