In [7]:
import pandas as pd
import numpy as np

In [29]:
ipl_data={'Team':['Riders','Riders','Devils','Devils','Kings','Kings','Kings','Kings','Riders','Royals','Royals','Riders'],
          'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],
          'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
          'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)
print(df)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    Kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [30]:
df1=df.groupby('Team')
print(df1)
df1=df.groupby('Team').groups
print(df1)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000269BBBE6A20>
{'Devils': [2, 3], 'Kings': [4, 5, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10]}

In [28]:
#print(df.groupby(['Team','Year']).groups

In [34]:
df2=df.groupby('Rank').max()
#grouped.mean()
print(df2)
#team ko alphabetical ascii max value se liya hai rank

        Team  Year  Points
Rank
1     Royals  2017     876
2     Riders  2017     863
3      Kings  2015     741
4     Royals  2015     812