In [1]:
import pandas as pd
import numpy as np

In [5]:
ipl_data={'Team':['Riders','Riders','Devils','Devils','Kings','Kings','Kings','Kings','Riders','Royals','Royals','Riders'],
          'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],
          'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
          'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)
g=df.groupby('Year')
print(g.get_group(2014))

     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701

In [15]:
#find the name of team 2014 or find information of 2014

Aggregation

In [7]:
grouped=df.groupby("Year")
grouped['Points'].mean()

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64

In [8]:
grouped['Points'].sum()

Year
2014    3181
2015    3078
2016    1450
2017    1478
Name: Points, dtype: int64

In [11]:
grouped['Points'].count()

Year
2014    4
2015    4
2016    2
2017    2
Name: Points, dtype: int64

In [12]:
grouped['Points'].max()

Year
2014    876
2015    812
2016    756
2017    788
Name: Points, dtype: int64

In [14]:
grouped['Points'].std() #standarded Devition

Year
2014    87.439026
2015    65.035888
2016    43.840620
2017    69.296465
Name: Points, dtype: float64

Transformation

In [21]:
grouped=df.groupby('Team')
score=lambda x:x+20
#score=lambda x:(x-x.mean())/x.std()*10
print(grouped.transform(score))

    Rank  Year  Points
0     21  2034     896
1     22  2035     809
2     22  2034     883
3     23  2035     693
4     23  2034     761
5     24  2035     832
6     21  2036     776
7     21  2037     808
8     22  2036     714
9     24  2034     721
10    21  2035     824
11    22  2037     710

In [22]:
print(grouped['Rank'].transform(score))

0     21
1     22
2     22
3     23
4     23
5     24
6     21
7     21
8     22
9     24
10    21
11    22
Name: Rank, dtype: int64

Filtration

In [29]:
print(df.groupby('Team').filter(lambda x: len(x)>=3))

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
4    Kings     3  2014     741
5    Kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
11  Riders     2  2017     690

In [33]:

#data=pd.read_csv("C://Users//ALWAYSRAMESH//Downloads.//ds_salaries.csv")
#print(data)

In [32]:
data=pd.read_csv("C://Users//ALWAYSRAMESH//Downloads.//imdb_data.csv")
print(data)

        id                              belongs_to_collection    budget  \
0        1  [{'id': 313576, 'name': 'Hot Tub Time Machine ...  14000000
1        2  [{'id': 107674, 'name': 'The Princess Diaries ...  40000000
2        3                                                NaN   3300000
3        4                                                NaN   1200000
4        5                                                NaN         0
...    ...                                                ...       ...
2995  2996                                                NaN         0
2996  2997                                                NaN         0
2997  2998                                                NaN  65000000
2998  2999                                                NaN  42000000
2999  3000                                                NaN  35000000

                                                 genres  \
0                        [{'id': 35, 'name': 'Comedy'}]
1     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
2                         [{'id': 18, 'name': 'Drama'}]
3     [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
4     [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
...                                                 ...
2995  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2996  [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...
2997  [{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...
2998  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2999  [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...

                               homepage    imdb_id original_language  \
0                                   NaN  tt2637294                en
1                                   NaN  tt0368933                en
2     http://sonyclassics.com/whiplash/  tt2582802                en
3            http://kahaanithefilm.com/  tt1821480                hi
4                                   NaN  tt1380152                ko
...                                 ...        ...               ...
2995                                NaN  tt0109403                en
2996                                NaN  tt2364975                sv
2997                                NaN  tt0116908                en
2998     http://www.alongcamepolly.com/  tt0343135                en
2999   http://www.abductionthefilm.com/  tt1600195                en

                                original_title  \
0                       Hot Tub Time Machine 2
1     The Princess Diaries 2: Royal Engagement
2                                     Whiplash
3                                      Kahaani
4                                         마린보이
...                                        ...
2995                                   Chasers
2996                               Vi är bäst!
2997                   The Long Kiss Goodnight
2998                          Along Came Polly
2999                                 Abduction

                                               overview  popularity  ...  \
0     When Lou, who has become the "father of the In...    6.575393  ...
1     Mia Thermopolis is now a college graduate and ...    8.248895  ...
2     Under the direction of a ruthless instructor, ...   64.299990  ...
3     Vidya Bagchi (Vidya Balan) arrives in Kolkata ...    3.174936  ...
4     Marine Boy is the story of a former national s...    1.148070  ...
...                                                 ...         ...  ...
2995  Military men Rock Reilly and Eddie Devane are ...    9.853270  ...
2996  Three girls in 1980s Stockholm decide to form ...    3.727996  ...
2997  Samantha Caine, suburban homemaker, is the ide...   14.482345  ...
2998  Reuben Feffer is a guy who's spent his entire ...   15.725542  ...
2999  A young man sets out to uncover the truth abou...   10.512109  ...

     release_date runtime                                   spoken_languages  \
0         2/20/15    93.0           [{'iso_639_1': 'en', 'name': 'English'}]
1          8/6/04   113.0           [{'iso_639_1': 'en', 'name': 'English'}]
2        10/10/14   105.0           [{'iso_639_1': 'en', 'name': 'English'}]
3          3/9/12   122.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
4          2/5/09   118.0           [{'iso_639_1': 'ko', 'name': '한국어/조선말'}]
...           ...     ...                                                ...
2995      4/22/94   102.0           [{'iso_639_1': 'en', 'name': 'English'}]
2996      3/28/13   102.0           [{'iso_639_1': 'sv', 'name': 'svenska'}]
2997     10/11/96   120.0           [{'iso_639_1': 'en', 'name': 'English'}]
2998      1/16/04    90.0           [{'iso_639_1': 'en', 'name': 'English'}]
2999      9/22/11   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

        status                                            tagline  \
0     Released  The Laws of Space and Time are About to be Vio...
1     Released  It can take a lifetime to find true love; she'...
2     Released    The road to greatness can take you to the edge.
3     Released                                                NaN
4     Released                                                NaN
...        ...                                                ...
2995  Released  It was supposed to be a routine prisoner trans...
2996  Released                                                NaN
2997  Released               What's forgotten is not always gone.
2998  Released  For the most cautious man on Earth, life is ab...
2999  Released          They stole his life. He's taking it back.

                                         title  \
0                       Hot Tub Time Machine 2
1     The Princess Diaries 2: Royal Engagement
2                                     Whiplash
3                                      Kahaani
4                                   Marine Boy
...                                        ...
2995                                   Chasers
2996                          We Are the Best!
2997                   The Long Kiss Goodnight
2998                          Along Came Polly
2999                                 Abduction

                                               Keywords  \
0     [{'id': 4379, 'name': 'time travel'}, {'id': 9...
1     [{'id': 2505, 'name': 'coronation'}, {'id': 42...
2     [{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...
3     [{'id': 10092, 'name': 'mystery'}, {'id': 1054...
4                                                   NaN
...                                                 ...
2995  [{'id': 378, 'name': 'prison'}, {'id': 572, 'n...
2996  [{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...
2997  [{'id': 441, 'name': 'assassination'}, {'id': ...
2998  [{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...
2999  [{'id': 591, 'name': 'cia'}, {'id': 822, 'name...

                                                   cast  \
0     [{'cast_id': 4, 'character': 'Lou', 'credit_id...
1     [{'cast_id': 1, 'character': 'Mia Thermopolis'...
2     [{'cast_id': 5, 'character': 'Andrew Neimann',...
3     [{'cast_id': 1, 'character': 'Vidya Bagchi', '...
4     [{'cast_id': 3, 'character': 'Chun-soo', 'cred...
...                                                 ...
2995  [{'cast_id': 2, 'character': 'Rock Reilly', 'c...
2996  [{'cast_id': 5, 'character': 'Bobo', 'credit_i...
2997  [{'cast_id': 10, 'character': 'Samantha Caine ...
2998  [{'cast_id': 8, 'character': 'Reuben Feffer', ...
2999  [{'cast_id': 2, 'character': 'Nathan Harper', ...

                                                   crew    revenue
0     [{'credit_id': '59ac067c92514107af02c8c8', 'de...   12314651
1     [{'credit_id': '52fe43fe9251416c7502563d', 'de...   95149435
2     [{'credit_id': '54d5356ec3a3683ba0000039', 'de...   13092000
3     [{'credit_id': '52fe48779251416c9108d6eb', 'de...   16000000
4     [{'credit_id': '52fe464b9251416c75073b43', 'de...    3923970
...                                                 ...        ...
2995  [{'credit_id': '52fe4494c3a368484e02ac7d', 'de...    1596687
2996  [{'credit_id': '5716b72ac3a3686678012c84', 'de...     180590
2997  [{'credit_id': '52fe443a9251416c7502d579', 'de...   89456761
2998  [{'credit_id': '556f817b9251410866000a63', 'de...  171963386
2999  [{'credit_id': '5391990d0e0a260fb5001629', 'de...   82087155

[3000 rows x 23 columns]