In [1]:
import pandas as pd
import numpy as np

In [4]:
#df=pd.read_csv('Downloads/imdb_data.csv')
#print(df)

In [3]:
df1=pd.read_csv("Downloads/ds_salaries.csv")
print(df1)

     Unnamed: 0  work_year experience_level employment_type  \
0             0       2020               MI              FT
1             1       2020               SE              FT
2             2       2020               SE              FT
3             3       2020               MI              FT
4             4       2020               SE              FT
..          ...        ...              ...             ...
602         602       2022               SE              FT
603         603       2022               SE              FT
604         604       2022               SE              FT
605         605       2022               SE              FT
606         606       2022               MI              FT

                      job_title  salary salary_currency  salary_in_usd  \
0                Data Scientist   70000             EUR          79833
1    Machine Learning Scientist  260000             USD         260000
2             Big Data Engineer   85000             GBP         109024
3          Product Data Analyst   20000             USD          20000
4     Machine Learning Engineer  150000             USD         150000
..                          ...     ...             ...            ...
602               Data Engineer  154000             USD         154000
603               Data Engineer  126000             USD         126000
604                Data Analyst  129000             USD         129000
605                Data Analyst  150000             USD         150000
606                AI Scientist  200000             USD         200000

    employee_residence  remote_ratio company_location company_size
0                   DE             0               DE            L
1                   JP             0               JP            S
2                   GB            50               GB            M
3                   HN             0               HN            S
4                   US            50               US            L
..                 ...           ...              ...          ...
602                 US           100               US            M
603                 US           100               US            M
604                 US             0               US            M
605                 US           100               US            M
606                 IN           100               US            L

[607 rows x 12 columns]

In [15]:
#Que.01 Find the number of unique job title
#df[df['salary']==df['salary'].max()][['job_title','salary']]
print(df1['job_title'].unique())
print()

print(df1['job_title'].nunique())

['Data Scientist' 'Machine Learning Scientist' 'Big Data Engineer'
 'Product Data Analyst' 'Machine Learning Engineer' 'Data Analyst'
 'Lead Data Scientist' 'Business Data Analyst' 'Lead Data Engineer'
 'Lead Data Analyst' 'Data Engineer' 'Data Science Consultant'
 'BI Data Analyst' 'Director of Data Science' 'Research Scientist'
 'Machine Learning Manager' 'Data Engineering Manager'
 'Machine Learning Infrastructure Engineer' 'ML Engineer' 'AI Scientist'
 'Computer Vision Engineer' 'Principal Data Scientist'
 'Data Science Manager' 'Head of Data' '3D Computer Vision Researcher'
 'Data Analytics Engineer' 'Applied Data Scientist'
 'Marketing Data Analyst' 'Cloud Data Engineer' 'Financial Data Analyst'
 'Computer Vision Software Engineer' 'Director of Data Engineering'
 'Data Science Engineer' 'Principal Data Engineer'
 'Machine Learning Developer' 'Applied Machine Learning Scientist'
 'Data Analytics Manager' 'Head of Data Science' 'Data Specialist'
 'Data Architect' 'Finance Data Analyst' 'Principal Data Analyst'
 'Big Data Architect' 'Staff Data Scientist' 'Analytics Engineer'
 'ETL Developer' 'Head of Machine Learning' 'NLP Engineer'
 'Lead Machine Learning Engineer' 'Data Analytics Lead']

50

In [21]:
# find the no. of DATa scientist in database 
print(df1['Data Scientist'].shape(0))
print(df1[df1['Job_title']=='Data Scientist']['Salary'].count())

KeyError: 'Data Scientist'

#Qu.03 find the max salary of each job title
print(df1.groupby('job_title').max())

In [24]:
print(df1.groupby('job_title')['salary'].max())

job_title
3D Computer Vision Researcher                 400000
AI Scientist                                 1335000
Analytics Engineer                            205300
Applied Data Scientist                        380000
Applied Machine Learning Scientist            423000
BI Data Analyst                             11000000
Big Data Architect                            125000
Big Data Engineer                            1672000
Business Data Analyst                        1400000
Cloud Data Engineer                           160000
Computer Vision Engineer                      180000
Computer Vision Software Engineer             150000
Data Analyst                                  450000
Data Analytics Engineer                       110000
Data Analytics Lead                           405000
Data Analytics Manager                        150260
Data Architect                                266400
Data Engineer                                4450000
Data Engineering Manager                      174000
Data Science Consultant                       423000
Data Science Engineer                         159500
Data Science Manager                         7000000
Data Scientist                              30400000
Data Specialist                               165000
Director of Data Engineering                  200000
Director of Data Science                      325000
ETL Developer                                  50000
Finance Data Analyst                           45000
Financial Data Analyst                        450000
Head of Data                                  235000
Head of Data Science                          224000
Head of Machine Learning                     6000000
Lead Data Analyst                            1450000
Lead Data Engineer                            276000
Lead Data Scientist                          3000000
Lead Machine Learning Engineer                 80000
ML Engineer                                  8500000
Machine Learning Developer                    100000
Machine Learning Engineer                    4900000
Machine Learning Infrastructure Engineer      195000
Machine Learning Manager                      157000
Machine Learning Scientist                    260000
Marketing Data Analyst                         75000
NLP Engineer                                  240000
Principal Data Analyst                        170000
Principal Data Engineer                       600000
Principal Data Scientist                      416000
Product Data Analyst                          450000
Research Scientist                            450000
Staff Data Scientist                          105000
Name: salary, dtype: int64

In [27]:
print(df1.groupby('job_title')['salary'].max())

job_title
3D Computer Vision Researcher                 400000
AI Scientist                                 1335000
Analytics Engineer                            205300
Applied Data Scientist                        380000
Applied Machine Learning Scientist            423000
BI Data Analyst                             11000000
Big Data Architect                            125000
Big Data Engineer                            1672000
Business Data Analyst                        1400000
Cloud Data Engineer                           160000
Computer Vision Engineer                      180000
Computer Vision Software Engineer             150000
Data Analyst                                  450000
Data Analytics Engineer                       110000
Data Analytics Lead                           405000
Data Analytics Manager                        150260
Data Architect                                266400
Data Engineer                                4450000
Data Engineering Manager                      174000
Data Science Consultant                       423000
Data Science Engineer                         159500
Data Science Manager                         7000000
Data Scientist                              30400000
Data Specialist                               165000
Director of Data Engineering                  200000
Director of Data Science                      325000
ETL Developer                                  50000
Finance Data Analyst                           45000
Financial Data Analyst                        450000
Head of Data                                  235000
Head of Data Science                          224000
Head of Machine Learning                     6000000
Lead Data Analyst                            1450000
Lead Data Engineer                            276000
Lead Data Scientist                          3000000
Lead Machine Learning Engineer                 80000
ML Engineer                                  8500000
Machine Learning Developer                    100000
Machine Learning Engineer                    4900000
Machine Learning Infrastructure Engineer      195000
Machine Learning Manager                      157000
Machine Learning Scientist                    260000
Marketing Data Analyst                         75000
NLP Engineer                                  240000
Principal Data Analyst                        170000
Principal Data Engineer                       600000
Principal Data Scientist                      416000
Product Data Analyst                          450000
Research Scientist                            450000
Staff Data Scientist                          105000
Name: salary, dtype: int64

In [30]:
#Ascending order
#column hamesha squre bracket se access hoga aur hamesha df ke baad function bracket hi hota hai

ascending= df1.groupby('job_title')['salary'].max().sort_values(ascending=False)
print(ascending)

job_title
Data Scientist                              30400000
BI Data Analyst                             11000000
ML Engineer                                  8500000
Data Science Manager                         7000000
Head of Machine Learning                     6000000
Machine Learning Engineer                    4900000
Data Engineer                                4450000
Lead Data Scientist                          3000000
Big Data Engineer                            1672000
Lead Data Analyst                            1450000
Business Data Analyst                        1400000
AI Scientist                                 1335000
Principal Data Engineer                       600000
Product Data Analyst                          450000
Financial Data Analyst                        450000
Data Analyst                                  450000
Research Scientist                            450000
Applied Machine Learning Scientist            423000
Data Science Consultant                       423000
Principal Data Scientist                      416000
Data Analytics Lead                           405000
3D Computer Vision Researcher                 400000
Applied Data Scientist                        380000
Director of Data Science                      325000
Lead Data Engineer                            276000
Data Architect                                266400
Machine Learning Scientist                    260000
NLP Engineer                                  240000
Head of Data                                  235000
Head of Data Science                          224000
Analytics Engineer                            205300
Director of Data Engineering                  200000
Machine Learning Infrastructure Engineer      195000
Computer Vision Engineer                      180000
Data Engineering Manager                      174000
Principal Data Analyst                        170000
Data Specialist                               165000
Cloud Data Engineer                           160000
Data Science Engineer                         159500
Machine Learning Manager                      157000
Data Analytics Manager                        150260
Computer Vision Software Engineer             150000
Big Data Architect                            125000
Data Analytics Engineer                       110000
Staff Data Scientist                          105000
Machine Learning Developer                    100000
Lead Machine Learning Engineer                 80000
Marketing Data Analyst                         75000
ETL Developer                                  50000
Finance Data Analyst                           45000
Name: salary, dtype: int64

how do you find no of rows and columns dataset
information of dataset
columns bs select karna hoga
find the last 3 information of dataset= tail()
perticular columns= double squre
true false ans
df==50k value display
column ko remove = drope(), access=1
add karna ho to df me squre bracket to add ho jayega
implace=??? dubara run kaarte hai to fir se aa jata hi
date wali chij date()

In [40]:
print(pd.date_range('1/1/2011',periods=9))

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09'],
              dtype='datetime64[ns]', freq='D')

In [41]:
print(pd.date_range('1/1/2011',periods=9,freq='M'))

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30',
               '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31',
               '2011-09-30'],
              dtype='datetime64[ns]', freq='ME')

C:\Users\ALWAYSRAMESH\AppData\Local\Temp\ipykernel_15488\2836390948.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  print(pd.date_range('1/1/2011',periods=9,freq='M'))

In [42]:
print(pd.date_range('1/1/2011',periods=5))

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05'],
              dtype='datetime64[ns]', freq='D')

In [55]:
from datetime import datetime
start=datetime(2011,1,1)
end=datetime(2011,1,5)
print(pd.date_range(start,end))

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05'],
              dtype='datetime64[ns]', freq='D')